tr
{
    border: 1px solid darkgray;
}
.bg
{
    background-color: #112835;

}

div .dream-car
{
    font-size: 25px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight:500;
}
